/* OHOHO CSS Framework v 1.4 - Overscroll root */
/* *******************************
Global Styles & Resets
******************************* */
/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: 0 0;
    text-decoration: none;
    outline: none;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    /* -webkit-font-smoothing: subpixel-antialiased */
}

/* Disable page to go overboard when scrolling */
:root {
    overscroll-behavior: none;
}

html {
    width: 100%;
    min-height: -webkit-fill-available;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    background-color: var(--light);

    /* overflow: hidden */
}

/* Enable scroll on devices */
@media all and (max-width: 1024px) {
    html {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

/* Remove overscroll behavior on devices */
@media all and (max-width: 1024px) {
    body,
    html {
        overscroll-behavior-y: none;
    }
}

body {
    font-family: 'Metric', Arial, Helvetica, sans-serif;
    color: var(--dark);
    min-height: 100vh;
    min-height: 100svh;
    font-size: 1rem;
    line-height: 1.5;

    /* cursor: none */
    -webkit-user-select: none;

    /* Safari */
    -moz-user-select: none;

    /* Firefox */
    -ms-user-select: none;

    /* Internet Explorer/Edge */
    user-select: none;

    /* Standard syntax */
    -webkit-touch-callout: none;

    /* background-color: white */
    /* background-color: var(--light); */
}

/* #custom-cursor {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: orange;
    pointer-events: none;
    opacity: 0;
    z-index: 999;

    transition: opacity 0.2s ease-in-out;
} */
/* *******************************
Colors selection
******************************* */
/* Modern browsers */
::-moz-selection {
    color: var(--light);
    background-color: var(--dark);
}

::selection {
    color: var(--light);
    background-color: var(--dark);
}

/* Fallback for older browsers */
::-moz-selection {
    color: var(--light);
    background-color: var(--dark);
}

/* *******************************
Disable selection
******************************* */
.nosel {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* *******************************
Pointer events
******************************* */
/* Prevent all click and hover interaction with an element */
.pointer-events-off {
    pointer-events: none;
}

/* Enables all click and hover interaction with an element */
.pointer-events-on {
    pointer-events: auto;
}

/* *******************************
Structure Classes
******************************* */
.container-small {
    width: 100%;
    max-width: 48rem;
    margin-right: auto;
    margin-left: auto;
}

.container-medium {
    width: 100%;
    max-width: 64rem;
    margin-right: auto;
    margin-left: auto;
}

.container-large {
    width: 100%;
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
}

.padding-global {
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
}

.padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding-section-medium {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* *******************************
HTML Heading Tags
******************************* */
h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 700;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 700;
}

h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 700;
}

h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* *******************************
Other HTML Tags
******************************* */
/* A elements that don't have a class get default styles */
/* a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
} */
a {
    text-decoration: none;
    color: currentColor;
    cursor: none;
}

p {
    margin-bottom: 1.2rem;
    font-size: 0.9375rem;
    line-height: 1.4;
}

p:empty {
    display: none;
}

p+p:last-child {
    margin-bottom: 0;
}

p:last-child:only-child {
    margin-bottom: 0;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

label {
    /* margin-bottom: 0.25rem */
    /* font-weight: 500 */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    color: var(--dark);
    border: 1px solid var(--dark);
}

/* checkbox styling */
/* This applies to the checkbox itself */
input[type="checkbox"] {
    width: 60px;

    /* Change the width */
    height: 60px;

    /* Change the height */
    /* background: #08c93f!important */
    /* Change the background color */
    border-radius: 5px;

    /* Make the corners rounded */
    cursor: pointer;

    /* Change the cursor to a hand when you hover over it */
}

/* This applies when the checkbox is checked */
.form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1.5rem 1rem var(--red);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
    padding-left: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;

    /* padding-left: 1.5rem */
    list-style-type: disc;
    list-style-position: inside;
}

ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0;
}

.nobullet {
    list-style-type: none;
}

b,
strong {
    font-weight: 900;
}

/* *******************************
Image styles
******************************* */
img {
    /* display: inline-block; */
    /* Stop img from overflowing */
    max-width: 100%;

    /* Align so images are vertically good for inline images */
    vertical-align: middle;

    /* Self explanatory */
    height: auto;

    /* If no image loaded, this will set alt text from other texts apart */
    font-style: italic;

    /* Za images with align with running text around */
    /* shape-margin: 2rem; */
}

/* Selected images and SVGs */
img::-moz-selection,
svg::-moz-selection {
    background: transparent;
}

img::selection,
svg::selection {
    background: transparent;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

img {
    -webkit-touch-callout: none;

    /* iOS Safari */
    -webkit-user-select: none;

    /* Safari */
    -khtml-user-select: none;

    /* Konqueror HTML */
    -moz-user-select: none;

    /* Old versions of Firefox */
    -ms-user-select: none;

    /* Internet Explorer/Edge */
    user-select: none;

    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.fullimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SVG transform origin */
svg * {
    transform-box: fill-box;
}

/* *******************************
Focus
******************************* */
/* Hide focus outline for main content element */
main:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

/* Focusing the button with a keyboard will show a dashed black line. */
*:focus-visible input {
    /* outline: 1px black; */
    border-color: #000 #000 #f5f4f18e;
}

/* Undo the above focused button styles when the element received focus
  * via mouse click or touch, but not keyboard navigation. */
*:focus:not(:focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
}

/* iOS highlights color mix */
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

/* *******************************
Heading Styles
******************************* */
.heading-style-h1 {
    font-size: 3.75rem;
    line-height: 1.1;
    font-weight: 700;
    position: relative;
    left: -0.16rem;
    white-space: nowrap;
}

@media (max-width: 600px) {
    .heading-style-h1 {
        font-size: 2.8rem;
        position: relative;
        left: -0.1rem;
    }
}

.heading-style-h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 900;
}

.heading-style-h3 {
    font-size: 2.25rem;
    line-height: 1.2;
    font-weight: 700;
}

.heading-style-h4 {
    font-size: 1.375rem;
    line-height: 1.4;
    font-weight: 700;
}

.heading-style-h5 {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 700;
}

.heading-style-h6 {
    font-size: 1rem;
    line-height: 1.5;
}

/* *******************************
Text Sizes
******************************* */
.text-size-tiny {
    font-size: 0.75rem;
}

.text-size-small {
    font-size: 1rem;
}

.text-size-regular {
    font-size: 0.9375rem;
    line-height: 1.4;
}

.text-size-medium {
    font-size: 1.25rem;
}

.text-size-large {
    font-size: 1.5rem;
    line-height: 1.4;
}

/* *******************************
Text Styles
******************************* */
.text-style-italic {
    font-style: italic;
}

.text-style-strikethrough {
    text-decoration: line-through;
}

.text-style-link {
    color: var(--grey);
    text-decoration: underline;
}

.text-style-nowrap {
    white-space: nowrap;
}

.text-style-muted {
    opacity: 0.6;
}

.text-style-allcaps {
    text-transform: uppercase;
}

.text-style-smallcaps {
    text-transform: lowercase;
}

.text-style-quote {
    margin-bottom: 0;
    padding: 0 1.25rem;
    border-left: 0.25rem solid #e2e2e2;
    font-size: 1.25rem;
    line-height: 1.5;
}

.text-style-underline {
    text-decoration: underline;
}

/* *******************************
Text Weight
******************************* */
.text-weight-light {
    font-weight: 300;
}

.text-weight-normal {
    font-weight: 400;
}

.text-weight-medium {
    font-weight: 500;
}

.text-weight-semibold {
    font-weight: 700;
}

.text-weight-bold {
    font-weight: 900;
}

.text-weight-xbold {
    font-weight: 800;
}

/* *******************************
Text Align
******************************* */
.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

/* *******************************
Blockquote styles
******************************* */
blockquote {
    margin-bottom: 0;
    padding: 0 1.25rem;
    border-left: 0.25rem solid #e2e2e2;
    font-size: 1.25rem;
    line-height: 1.5;
}

/* *******************************
Figure styles
******************************* */
/* figure {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    ||*| margin-top: 2rem; |*||
    /* margin-bottom: 2.4rem */
/* margin-left: 1rem */
@media (max-width: 600px) {
    figure {
        margin-bottom: 1rem;
        margin-left: 0;
    }
}

.alignright {
    float: right;
    max-width: 20rem;
    aspect-ratio: 4 / 5;
}

.rich-text>p>img {
    margin-bottom: 2rem;
    margin-left: 1rem;
}

@media (max-width: 600px) {
    .alignright {
        width: 100%;
        max-width: 100%;

        /* margin: 0 0 1rem 3rem; */
        margin-top: 0;
        margin-right: 0;

        /* margin-bottom: 1rem; */
        margin-left: 3rem;

        /* margin-bottom: 5rem; */
    }

    .rich-text>p>img {
        margin-bottom: 3rem;
    }
}

.aligncenter {
    width: 100% !important;
}

figure img {
    width: 100%;

    /* height: 100% */
    /* object-fit: cover */
}

figcaption {
    margin-top: -0.5rem;
    text-align: left;
    color: var(--dark);
    padding: 1rem 0 0.8rem 0;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    line-height: 1.3 !important;

    /* max-width: 60%; */
}

/* *******************************
video settings
******************************* */
video::-webkit-media-controls,
video::-webkit-media-controls-enclosure,
video::-webkit-media-controls-panel,
video::-webkit-media-controls-panel-container,
video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

.buttonvideo .emoji {
    display: none !important;
}

/* *******************************
Buttons
******************************* */
.button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.button {
    padding: 0.75rem 2rem 1rem 2rem;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;

    /* width: 100% */
    height: 3.75rem;
    font-size: 1.375rem;
    cursor: pointer;
}

.button.is-text {
    border: 2px solid transparent;
    background-color: transparent;
    color: var(--dark);
}

.button.is-small {
    padding: 0.5rem 1.25rem;
}

.button.is-large {
    padding: 1rem 2rem;
}

.button.is-secondary {
    border-style: solid;
    border-width: 2px 2px 0.125rem;
    border-color: var(--dark);
    background-color: transparent;
    color: var(--dark);
}

.button.is-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    text-decoration: none;
}

/* *******************************
Colors
******************************* */
.text-color-white {
    color: var(--light);
}

.text-color-black {
    color: var(--dark);
}

.text-color-grey {
    color: var(--grey);
}

.text-color-red {
    color: var(--accent);
}

.background-color-white {
    background-color: var(--light);
    color: var(--dark);

    /* height: 100% */
}

.background-color-grey {
    background-color: var(--grey);
}

.background-color-black {
    background-color: var(--dark);
    color: var(--light);
}

.background-color-red {
    /* background-color: var(--red) */
    color: var(--light);
}

/* *******************************
Max Width Styles
******************************* */
.max-width-xxsmall {
    width: 100%;
    max-width: 12rem;
}

.max-width-xsmall {
    width: 100%;
    max-width: 16rem;
}

.max-width-small {
    width: 100%;
    max-width: 20;
}

.max-width-medium {
    width: 100%;
    max-width: 32rem;
}

.max-width-large {
    width: 100%;
    max-width: 48rem;
}

.max-width-xlarge {
    width: 100%;
    max-width: 64rem;
}

.max-width-xxlarge {
    width: 100%;
    max-width: 80;
}

.max-width-full {
    width: 100%;
    max-width: none;
}

/* *******************************
Margin and Padding Styles
******************************* */
.margin-custom2 {
    margin: 2.5rem;
}

.padding-xlarge {
    padding: 4rem;
}

.margin-xlarge {
    margin: 4rem;
}

.margin-xsmall {
    margin: .5rem;
}

.padding-xhuge {
    padding: 15.5rem;
}

.margin-custom1 {
    margin: 1.5rem;
}

.padding-0 {
    padding: 0;
}

.padding-xxhuge {
    padding: 12rem;
}

.padding-huge {
    padding: 6rem;
}

.margin-large {
    margin: 3rem;
}

.padding-xxlarge {
    padding: 5rem;
}

.margin-xxsmall {
    margin: .25rem;
}

.padding-custom3 {
    padding: 3.5rem;
}

.padding-large {
    padding: 10rem;
}

.margin-tiny {
    margin: .125rem;
}

.padding-small {
    padding: 1rem;
}

.padding-custom2 {
    padding: 2.5rem;
}

.margin-custom3 {
    margin: 3.5rem;
}

.padding-custom1 {
    padding: 5rem;
}

@media (max-width: 768px) {
    .padding-custom1 {
        padding: 5rem;
    }
}

.margin-huge {
    margin: 6rem;
}

.padding-medium {
    padding: 2rem;
}

.padding-xsmall {
    padding: .5rem;
}

.margin-xxlarge {
    margin: 5rem;
}

.padding-xxsmall {
    padding: .25rem;
}

.margin-xhuge {
    margin: 8rem;
}

.padding-tiny {
    padding: .625rem;
}

.margin-small {
    margin: 1rem;
}

.margin-medium {
    margin: 2rem;
}

.margin-xxhuge {
    margin: 12rem;
}

.margin-0 {
    margin: 0;
}

.margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
}

.padding-top {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.margin-vertical {
    margin-right: 0;
    margin-left: 0;
}

.margin-bottom {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.padding-left {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.padding-vertical {
    padding-right: 0;
    padding-left: 0;
}

.padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
}

.margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.margin-top {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.margin-left {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.padding-bottom {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

.spacer-huge {
    width: 100%;
    padding-top: 6rem;
}

.spacer-medium {
    width: 100%;
    padding-top: 2rem;
}

.fs-styleguide_spacer-box {
    width: 100%;
    background-color: rgba(45, 64, 234, .1);
    border: 1px d hed #2d40ea;
    position: relative;
}

.spacer-xsmall {
    width: 100%;
    padding-top: .5rem;
}

.spacer-small {
    width: 100%;
    padding-top: 1rem;
}

.spacer-xhuge {
    width: 100%;
    padding-top: 7.5rem;
}

.spacer-tiny {
    width: 100%;
    padding-top: .125rem;
}

.spacer-xxsmall {
    width: 100%;
    padding-top: .25rem;
}

.spacer-xxhuge {
    width: 100%;
    padding-top: 12rem;
}

.spacer-xlarge {
    width: 100%;
    padding-top: 4rem;
}

.spacer-large {
    padding-top: 3rem;
}

.spacer-xxlarge {
    width: 100%;
    padding-top: 5rem;
}

/* *******************************
Icon Styles
******************************* */
.icon-height-small {
    height: 1rem;
}

.icon-height-medium {
    height: 2rem;
}

.icon-height-large {
    height: 3rem;
}

.icon-1x1-small {
    width: 1rem;
    height: 1rem;
    flex: 0 0 auto;
}

.icon-1x1-medium {
    width: 2rem;
    height: 2rem;
}

.icon-1x1-large {
    width: 2.5rem;
    height: 2.5rem;
}

/* *******************************
Form Styles
******************************* */
.w-checkbox {
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
}

.w-checkbox::before {
    content: ' ';
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
}

.w-checkbox::after {
    content: ' ';
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    clear: both;
}

.w-checkbox-input {
    float: left;
    margin-bottom: 0px;
    margin-left: -20px;
    margin-right: 0px;
    margin-top: 4px;
    line-height: normal;
}

.w-checkbox-input--inputType-custom {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: var(--grey);
    border-bottom-color: var(--grey);
    border-left-color: var(--grey);
    border-right-color: var(--grey);
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    width: 12px;
    height: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
    background-color: var(--dark);
    border-top-color: var(--dark);
    border-bottom-color: var(--dark);
    border-left-color: var(--dark);
    border-right-color: var(--dark);

    /* background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');background-image
    background-position: 50% 50%;background-position
    background-size: cover;
    background-repeat: no-repeat; */
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
    box-shadow: 0px 0px 3px 1px var(--dark);
}

.w-form-formradioinput--inputType-custom {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #ccc;
    border-bottom-color: #ccc;
    border-left-color: #ccc;
    border-right-color: #ccc;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    width: 12px;
    height: 12px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
    box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-color: #3898ec;
    border-bottom-color: #3898ec;
    border-left-color: #3898ec;
    border-right-color: #3898ec;
}

.form_message-success {
    padding: 1.25rem;
}

.form_radio {
    display: flex;
    margin-bottom: 0.5rem;
    padding-left: 0;
    flex-direction: row;
    align-items: center;
}

.form_checkbox-icon.w--redirected-checked {
    width: 0.875rem;
    height: 0.875rem;
    margin: 0 0.5rem 0 0;
    border-radius: 0.125rem;
    background-size: 90%;
}

.form_checkbox-icon.w--redirected-focus {
    width: 0.875rem;
    height: 0.875rem;
    margin: 0 0.5rem 0 0;
    border-radius: 0.125rem;
    box-shadow: 0 0 0.25rem 0 #3898ec;
}

.form_checkbox {
    display: flex;
    margin-bottom: 0.5rem;
    padding-left: 0;
    flex-direction: row;
    align-items: center;
}

.form_checkbox-icon {
    width: 0.875rem;
    height: 0.875rem;
    margin: 0 0.5rem 0 0;
    border-radius: 0.125rem;
}

.form_radio-icon {
    width: 0.875rem;
    height: 0.875rem;
    margin-top: 0;
    margin-right: 0.5rem;
    margin-left: 0;
}

.form_radio-icon.w--redirected-checked {
    width: 0.875rem;
    height: 0.875rem;
    border-width: 0.25rem;
}

.form_radio-icon.w--redirected-focus {
    width: 0.875rem;
    height: 0.875rem;
    box-shadow: 0 0 0.25rem 0 #3898ec;
}

.form_input {
    min-height: 3rem;
    margin-bottom: 0.75rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
}

.form_input.is-text-area {
    min-height: 8rem;
    padding-top: 0.75rem;
}

.form_message-error {
    margin-top: 0.75rem;
    padding: 0.75rem;
}

.form_component {
    margin-bottom: 0;
}

/* *******************************
Z-Index Styles
******************************* */
.z-index-1 {
    position: relative;
    z-index: 1;
}

.z-index-2 {
    position: relative;
    z-index: 2;
}

.z-index-3 {
    position: relative;
    z-index: 3;
}

.z-index-4 {
    position: relative;
    z-index: 8;
}

.z-index-5 {
    position: relative;
    z-index: 5;
}

.z-index-6 {
    position: relative;
    z-index: 6;
}

.z-index-7 {
    position: relative;
    z-index: 7;
}

.z-index-8 {
    position: relative;
    z-index: 8;
}

.z-index-9 {
    position: relative;
    z-index: 9;
}

.z-index-10 {
    position: relative;
    z-index: 10;
}

/* *******************************
Useful system classes
******************************* */
.align-center {
    margin-right: auto;
    margin-left: auto;
}

.layer {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    justify-content: center;
    align-items: center;
}

.vh100 {
    height: 100vh;
}

.grid-item1 {
    justify-self: start;
}

.display-flex {
    display: flex;
}

.inline {
    display: inline;
}

.inlineblock {
    display: inline-block;
}

.h-center {
    display: flex;
    justify-content: center;
}

.v-center {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
}

.relative {
    position: relative;
}

.overflow-auto {
    overflow: auto;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.spacing-clean {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.pointer {
    cursor: none;
}

.willchange {
    will-change: transform;

    /* backface-visibility: hidden */
}

.sticky {
    position: sticky;
    top: 3rem;
}

@media (max-width: 600px) {
    .sticky {
        position: static;
    }
}

/* Make sure containers never lose their center alignment */
.container-medium,
.container-small,
.container-large {
    margin-right: auto !important;
    margin-left: auto !important;
}

/* *******************************
These are never overwritten
******************************* */
.hide {
    display: none !important;
}

@media screen and (max-width: 991px),
screen and (max-width: 767px),
screen and (max-width: 600px) {
    .hide,
    .hide-tablet {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .hide-mobile-landscape {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    .hide-mobile {
        display: none !important;
    }
}

.margin-0 {
    margin: 0 !important;
}

.padding-0 {
    padding: 0 !important;
}

.spacing-clean {
    padding: 0 !important;
    margin: 0 !important;
}

.margin-top {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
}

.padding-top {
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}

.margin-right {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
}

.padding-right {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}

.margin-bottom {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.padding-bottom {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.margin-left {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.padding-left {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}

.margin-horizontal {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.padding-horizontal {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.margin-vertical {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.padding-vertical {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.spacer-xxtiny {
    width: 100%;
    padding-top: 0.125rem;
}

.spacer-xsmall {
    width: 100%;
    padding-top: 0.25rem;
}

.spacer-tiny {
    width: 100%;
    padding-top: 0.5rem;
}

.spacer-small {
    width: 100%;
    padding-top: 1rem;
}

.spacer-medium {
    width: 100%;
    padding-top: 1.5rem;
}

.spacer-large {
    width: 100%;
    padding-top: 4rem;
}

.spacer-xlarge {
    width: 100%;
    padding-top: 4rem;
}

.spacer-xxlarge {
    width: 100%;
    padding-top: 5rem;
}

.spacer-huge {
    width: 100%;
    padding-top: 12.5rem;
}

@media (max-width: 600px) {
    .spacer-huge {
        padding-top: 5rem;
    }
}

.spacer-xxhuge {
    width: 100%;
    padding-top: 12rem;
}

/* *******************************
Styleguide Styles
******************************* */
.fs-styleguide_background {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
}

.fs-styleguide_spacing {
    position: relative;
    display: grid;
    justify-content: start;
    justify-items: stretch;
    align-items: start;
    align-content: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 115, 230, 0.1)), to(hsla(0, 0%, 100%, 0)));
    background-image: linear-gradient(0deg, rgba(0, 115, 230, 0.1), hsla(0, 0%, 100%, 0));
}

.fs-styleguide_heading-tags {
    background-color: var(--light);
}

.fs-styleguide_other-tags {
    background-color: var(--light);
}

.fs-styleguide_background-space {
    width: 1px;
    height: 1px;
    margin: 5rem;
}

.fs-styleguide_item {
    position: relative;
    display: grid;
    padding-bottom: 3rem;
    justify-content: start;
    justify-items: start;
    align-items: start;
    align-content: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 1.125rem;
    grid-row-gap: 1.125rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.fs-styleguide_item.is-stretch {
    justify-items: stretch;
}

.fs-styleguide_item-header {
    width: 100%;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.fs-styleguide_heading-large {
    font-size: 6rem;
}

.fs-styleguide_2-col {
    display: grid;
    width: 100%;
    grid-auto-columns: 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.fs-styleguide_2-col.is-align-start {
    align-items: start;
}

.fs-styleguide_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.fs-styleguide_heading-styles {
    background-color: var(--light);
}

.fs-styleguide_webflow-elements {
    background-color: var(--light);
}

.fs-styleguide_section-header {
    display: grid;
    width: 100%;
    padding-bottom: 3rem;
    grid-auto-columns: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-bottom: 1px solid var(--grey);
    line-height: 1.4;
}

.fs-styleguide_1-col {
    display: grid;
    width: 100%;
    grid-auto-columns: 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.fs-styleguide_empty-box {
    position: relative;
    z-index: -1;
    height: 3rem;
    min-width: 3rem;
    border-style: dashed;
    border-width: 1px;
    border-color: #0073e6;
    background-color: rgba(0, 115, 230, 0.1);
}

.fs-styleguide_heading-medium {
    font-size: 4rem;
}

.fs-styleguide_4-col {
    display: grid;
    width: 100%;
    grid-auto-columns: 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.fs-styleguide_item-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
}

.fs-styleguide_text-classes {
    background-color: var(--light);
}

.fs-styleguide_header-block {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.fs-styleguide_3-col {
    display: grid;
    width: 100%;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.fs-styleguide_3-col.is-align-start {
    align-items: start;
}

.fs-styleguide_header {
    background-color: rgba(0, 0, 0, 0.05);
}

.fs-styleguide_label {
    display: flex;
    padding: 0.25rem 0.75rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #0073e6;
    color: var(--light);
    line-height: 1.4;
    font-weight: 600;
}

.fs-styleguide_label.is-tag {
    background-color: #be4aa5;
}

.fs-styleguide_version {
    z-index: 5;
    color: var(--grey);
    font-weight: 500;
    text-decoration: none;
}

.fs-styleguide_icons {
    background-color: var(--light);
}

.fs-styleguide_colors {
    background-color: var(--light);
}

.fs-styleguide_buttons {
    background-color: var(--light);
}

.fs-styleguide_classes {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.fs-styleguide_section {
    display: grid;
    justify-items: start;
    align-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.fs-styleguide_section.is-vertical {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
}

.fs-styleguide_spacing-all {
    display: none;
}

.home-message_content-grid {
    display: grid;
    justify-content: center;
    justify-items: start;
    align-items: center;
    align-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.home-message_component {
    display: flex;
    min-height: 100vh;
    padding: 3rem;
    color: var(--light);
}

.home-message_list {
    display: grid;
    justify-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.home-message_content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-self: stretch;
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--dark);
}

.home-message_heading-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.home-message_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.home-message_item-icon {
    width: 1.75rem;
    height: 1.75rem;
    flex: 0 0 auto;
    background-color: var(--light);
    color: var(--dark);
}

.home-message_logo {
    width: 4rem;
}

/* *******************************
Media Queries
******************************* */
@media screen and (max-width: 991px) {
    .padding-xlarge {
        padding: 3rem;
    }

    .margin-xlarge {
        margin: 3rem;
    }

    .padding-xhuge {
        /* padding: 6rem */
    }

    .padding-xxhuge {
        padding: 8rem;
    }

    .padding-huge {
        padding: 5rem;
    }

    .margin-large {
        margin: 2.5rem;
    }

    .padding-xxlarge {
        padding: 4rem;
    }

    .padding-large {
        padding: 2.5rem;
    }

    .margin-huge {
        margin: 5rem;
    }

    .padding-medium {
        padding: 1.5rem;
    }

    .margin-xxlarge {
        margin: 4rem;
    }

    .margin-xhuge {
        margin: 6rem;
    }

    .margin-medium {
        margin: 1.5rem;
    }

    .margin-xxhuge {
        margin: 8rem;
    }

    .margin-horizontal {
        margin-top: 0;
        margin-bottom: 0;
    }

    .padding-top {
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .margin-vertical {
        margin-right: 0;
        margin-left: 0;
    }

    .margin-bottom {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .padding-left {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .padding-vertical {
        padding-right: 0;
        padding-left: 0;
    }

    .padding-horizontal {
        padding-top: 0;
        padding-bottom: 0;
    }

    .margin-right {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .margin-top {
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .margin-left {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .padding-right {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .padding-bottom {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .hide-tablet {
        display: none;
    }

    .fs-styleguide_2-col {
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        grid-template-columns: 1fr;
    }

    .max-width-full-tablet {
        width: 100%;
        max-width: none;
    }

    .fs-styleguide_1-col {
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }

    .fs-styleguide_heading-medium {
        font-size: 3rem;
    }

    .fs-styleguide_4-col {
        grid-template-columns: 1fr;
    }

    .padding-section-large {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .fs-styleguide_3-col {
        grid-template-columns: 1fr;
    }

    .fs-styleguide_section {
        grid-column-gap: 2.5rem;
        grid-template-columns: 1fr;
    }

    .padding-section-medium {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1rem;
    }

    .padding-xlarge {
        padding: 2rem;
    }

    .margin-xlarge {
        margin: 2rem;
    }

    .padding-xhuge {
        /* padding: 4rem */
    }

    .padding-xxhuge {
        padding: 4.5rem;
    }

    .padding-huge {
        padding: 3.5rem;
    }

    .margin-large {
        margin: 1.5rem;
    }

    .padding-xxlarge {
        padding: 3rem;
    }

    .padding-large {
        padding: 1.5rem;
    }

    .margin-huge {
        margin: 3.5rem;
    }

    .padding-medium {
        padding: 1.25rem;
    }

    .margin-xxlarge {
        margin: 3rem;
    }

    .margin-xhuge {
        margin: 4rem;
    }

    .margin-medium {
        margin: 1.25rem;
    }

    .margin-xxhuge {
        margin: 4.5rem;
    }

    .margin-horizontal {
        margin-top: 0;
        margin-bottom: 0;
    }

    .padding-top {
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .margin-vertical {
        margin-right: 0;
        margin-left: 0;
    }

    .margin-bottom {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .padding-left {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .padding-vertical {
        padding-right: 0;
        padding-left: 0;
    }

    .padding-horizontal {
        padding-top: 0;
        padding-bottom: 0;
    }

    .margin-right {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .margin-top {
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .margin-left {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .padding-right {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .padding-bottom {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .hide-mobile-landscape {
        display: none;
    }

    .fs-styleguide_heading-large {
        font-size: 3rem;
    }

    .heading-style-h3 {
        font-size: 1.5rem;
    }

    /* .heading-style-h1 {
        font-size: 2.5rem;
    } */
    .padding-global {
        padding-right: 1.25rem;
        padding-left: 1.5rem;
    }

    .padding-section-small {
        padding-top: 2rem;
        padding-bottom: 1.4rem;
    }

    .fs-styleguide_section-header {
        font-size: 0.875rem;
    }

    .fs-styleguide_heading-medium {
        font-size: 2rem;
    }

    .max-width-full-mobile-landscape {
        width: 100%;
        max-width: none;
    }

    .heading-style-h4 {
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .text-style-nowrap {
        white-space: normal;
    }

    .heading-style-h6 {
        font-size: 0.75rem;
    }

    .padding-section-large {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    /* .text-size-large {
        font-size: 1.25rem;
    } */
    .heading-style-h2 {
        /* font-size: 2rem */
    }

    .fs-styleguide_version {
        font-size: 0.875rem;
    }

    /* .heading-style-h5 {
        font-size: 0.875rem;
    } */
    .padding-section-medium {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .home-message_component {
        padding: 0;
    }

    .home-message_content {
        border-radius: 0;
    }
}

@media (min-width: 600px) {
    .padding-xhuge {
    }
}

@media (max-width: 991px) {
    .heading-style-h4 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 600px) {
    .margin-horizontal {
        margin-top: 0;
        margin-bottom: 0;
    }

    .heading-style-h5 {
        font-size: 1.6rem;
    }

    .padding-top {
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .margin-vertical {
        margin-right: 0;
        margin-left: 0;
    }

    .margin-bottom {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .padding-left {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .padding-vertical {
        padding-right: 0;
        padding-left: 0;
    }

    .padding-horizontal {
        padding-top: 0;
        padding-bottom: 0;
    }

    .margin-right {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .margin-top {
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .margin-left {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .padding-right {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .padding-bottom {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .max-width-full-mobile-portrait {
        width: 100%;
        max-width: none;
    }

    .hide-mobile-portrait {
        display: none;
    }

    /* p {
        font-size: 1.25rem;
    } */
}
